body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.site-container{
  min-height: 100vh;
}
.search{
  border: none;
}
main{
  flex: 1;
}
.btn-primary,
.btn-outline-primary{
  background-color: goldenrod;
  color: #000000;
  border: none;
}
.color{
  color: #ffffffff;
}
li{
  list-style: none;
}


.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product{
  border: 1px solid #404040;
  margin: 1rem;
}

.rating span{
  color:#ffc000;
}
.product img{
  width: 100%;
  max-width:400px;

}

.product-info{
  padding: 1rem;
}

.img-large{
  max-width: 100%;
}

.img-thumbnail{
  height: 80px;
}

.small-container{
  max-width: 600px;
}

.checkout-steps > div{
border-bottom: 0.2rem solid #a0a0a0;
color: #a0a0a0;
}
.checkout-steps>div.active{
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}
/** sidebar **/
.navbar-brand{
font-weight: bold;
}
.side-navbar{
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color:#343a40;
  transition:0.5s;
}
.site-container{
  transition: 0.4s;
}
.active-cont{
  margin-left: 240px;
}
.active-nav{
  left: 0;
}
.text-bold{
  font-weight: bold;
}

.btn-order,.btn-user{
  width: 70px;
  height: 30px;
  text-align: center;
  padding: 2px;
}
.cards{
  width: 18rem;
  margin-left: 100px;
  margin-top: 10%;
  border: 1px solid black;
  background-color: rgb(229, 229, 245);
}
.containers{
  display: flex;
  margin-bottom: 100px;
  
}
.card-text{
  text-align: justify;
}
.footer{
  background: #152F4F;
  color:white;
}
  .links{
    ul {list-style-type: none;}
    li a{
      color: white;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
    }
  }  
  i{font-size: 25px;}
  .about-company{
    a{
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  } 
  .location{
    i{
      font-size:18px;
    }
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
